/* * {
  box-sizing: border-box;
} */

html {
  font-family: "Lucida Sans", sansserif;
}

.header {
  /*background-color: #284B63;*/
  /*color: #ffffff;*/
  padding: 15px;
}

.footer {
  /*background-color: #5BC0EB;*/
  /*color: #ffffff;*/
  /*text-align: center;*/
  font-size: 12px;
  padding: 15px;
}
