* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sansserif;
}

.header {
  background-color: #284B63;
  color: #ffffff;
  padding: 15px;
}

.content {
  grid-template-columns: 20% 80%;
  gap: 4px;
  place-items: stretch;
  justify-content: stretch;
}

.footer {
  background-color: #5BC0EB;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
