---
import Layout from "../layouts/BlogPost.astro";
---

<Layout pubDate={new Date("April 21 2024")}>
  <ul>
    <li>Send me an email at <a href='emailto:charles.lambert.nguyen@gmail.com'>charles.lambert.nguyen@gmail.com</a></li>
    <li>Message me on LinkedIn at <a href='https://www.linkedin.com/in/ch-nguyen'>in/ch-nguyen</a></li>
  </ul>
</Layout>
