---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="Charles Lambert Nguyen" pubDate={new Date("Sep 27 2024")}>
  <div id="fullname-contact-info">
    <ul id="contact-info">
      <li>
        <a href="mailto:charles.lambert.nguyen@gmail.com"
          >charles.lambert.nguyen@gmail.com</a
        >
      </li>
      <li>
        <a href="https://nkarl.github.io">nkarl.github.io</a>
      </li>
      <li>Westminster, CA</li>
    </ul>
  </div>

  <div id="summary">
    <h3>Summary</h3>
    <ul>
      <p>
        I have 2 year of experience of full stack web development, having worked
        with most layers — from user-facing to back-end and CI/CD.
      </p>
      <p>
        At the moment I focus on the Cardano blockchain ecosystem, which in my
        opinion has the best transaction model. I aim to develop Plutus smart
        contracts and apps that can help solve the economic identity problem
        for many.
      </p>
      <p>
        I am open to long and short-term contracts at any layer of the web stack
        (preferably with a SQL database). I also welcome opportunities that let
        me use a functional language in-/outside of the Haskell-family,
        including Scala or OCaml.
      </p>
    </ul>
  </div>

  <div id="skills">
    <h3>Skills</h3>
    <ul>
      <table>
        <tr id="skills-languages">
          <th>Languages</th>
          <td>
            : GNU C/C++, Java, C#, Python, JavaScript, TypeScript, PureScript, Haskell, SQL
          </td>
        </tr>
        <tr id="skills-tools">
          <th>Tools</th>
          <td>
            : GNU Make, SpringBoot, Maven, .NET, Node.js, React, Svelte, Tailwind
          </td>
        </tr>
        <tr id="skills-Others">
          <th>Others</th>
          <td>
            : Linux, NeoVim, IntelliJ, VScode, Docker, Nix, Bash and others
          </td>
        </tr>
      </table>
    </ul>
  </div>

  <div id="certificates">
    <h3>Technical Certification and Adoption</h3>
    <ul>
      <li>(WIP) Microsoft Azure Fundamentals AZ-900</li>
      <li>(WIP) CompTIA Network+ N10-009</li>
      <li>(WIP) Swagger/OpenAPI v3</li>
    </ul>
    <p></p>
  </div>

  <div id="education">
    <h3>Education</h3>
    <ul class="exp-date">
      <p>
        BSc. Computer Science. <em>Washington State University, Pullman.</em>
      </p>
      <p>May 2023</p>
    </ul>
  </div>

  <div id="experience">
    <h3>Professional Experience</h3>
    <!-- experience list -->
    <ul>
      <!-- experience 4 -->
      <li id="exp1">
        <div class="exp-date">
          <p>
            <strong>
              Independent Developer & <a href="https://github.com/nkarl"
                >OSS Contributor</a
              >
            </strong>
          </p>
          <p>Jan 2024 - present</p>
        </div>
        <div>
          <p>
            I continue to write code and contribute to open source and community
            development projects. Below is a (tentative) list of projects that
            interest me:
            <ul>
              <li>
                The Cardano blockchain:
                <a href="https://www.intersectmbo.org/">Intersect</a>
              </li>
              <li>
                TinyGrad:
                <a href="https://github.com/tinygrad/tinygrad"
                  >tinygrad/tinygrad</a
                >
              </li>
              <li>
                Ladybird Browser:
                <a href="https://github.com/LadybirdBrowser/ladybird"
                  >LadyirdBrowser/ladybird</a
                >
              </li>
            </ul>
          </p>
          <p></p>
        </div>
      </li>

      <!-- experience 3 -->
      <li id="exp1">
        <div class="exp-date">
          <p>
            <strong>
              Software Engineer -
              <a href="https://techsphere.app/">TechSphere</a>
            </strong>
          </p>
          <p>Jun 2023 - Jan 2024</p>
        </div>
        <div>
          <p>
            I helped rebuilding an existing web application that connects and
            facilitates mentorship booking. Our work was done using the
            TypeScript, Java, NoSQL stack. We developed and deployed on GCP.
          </p>
          <p>
            In the first 3 months we worked to boot up and stabilize the Java
            back-end. We separated the core booking logic into a proper Java
            SpringBoot back-end with ORM for the Firebase database.
            <strong>
              <em>
                This let us identify and remove a bottleneck, which resulted in
                a 4s reduction in load time.
              </em>
            </strong>
          </p>
          <p>
            In the final 3 months, I contributed to the next phase of the SDLC
            with outreach interviews to collect and analyze user feedback. Near
            the end of my time there, I started working on refactoring and
            adding Jest unit tests to the React front-end.
          </p>
        </div>
      </li>

      <!-- experience 2 -->
      <li id="exp2">
        <div class="exp-date">
          <p>
            <strong> Research Assistant - Software Engineering Lab, </strong>
            <em>Pullman WA</em>
          </p>
          <p>Mar 2022 - Oct 2022</p>
        </div>
        <div>
          <p>
            I worked in Prof. Venera Arnaoudova's lab and contributed to a
            larger body of research into measuring the cognitive load of
            developers during heavy programming tasks. This research hopes to
            develop tools that might better assist developers.
          </p>
          <p>
            My partner Shira Feinberg and I scheduled appointments, conducted
            and monitored experiments, performed participant exit interviews,
            and automated data cleanup and organization.
          </p>
          <p>
            I also reviewed the source code of the companion ReactNative app
            (developed by the previous cohort of assistants) which maps and
            projects eye-tracker coordinates as a heat map over web content. It
            was like looking at gibberish, which prompted me to learn JavaScript
            and web development.
          </p>
        </div>
      </li>

      <!-- experience 1 -->
      <li id="exp3">
        <div class="exp-date">
          <p>
            <strong> Teaching Assistant - College of Education,</strong>
            <em>Pullman WA</em>
          </p>
          <p>Jul 2022 - Aug 2022</p>
        </div>
        <p>
          I worked with the WSU College of Education to introduce basic
          programming concepts to students at Lincoln Middle School, Pullman WA.
          I taught in both the virtual and in-person camps, each 2-week long. I
          walked the students through the basic syntax and semantics of Python.
        </p>
        <p>
          We helped the students retain knowledge by building small project: a
          snake game project set up in Replit. Some kids really went to town
          with decorating the snake and the arena!
        </p>
      </li>
    </ul>
  </div>
</Layout>

<style>
  div[id="fullname-contact-info"] #contact-info {
    display: flex;
    justify-content: space-around;
  }

  .exp-date {
    display: flex;
    justify-content: space-between;
  }
</style>
